<div class="jumbotron">
  <h1 class="display-5">{{msg}}</h1>
  <p class="lead">{{select}}</p>
</div>

<ul class="list-group">
  {{#each previousDays}}
    <li class="list-group-item list-group-item-primary">{{this}}</li>
  {{/each}}
</ul>
<br>
<h3 align="center">{{update}}</h3><br>

<div align="center" class="">

  <form class="form-control" action="/waiters/{{waiterName}}" method="post">

    <span>
<label for="day" class="btn btn-outline-secondary">
  <label class="btn btn-outline-info">
    <input type="checkbox" name="day" value="Monday" {{#if waiterDay.Monday}} checked {{/if}}>Monday
  </label>
  <label class="btn btn-outline-info">
    <input type="checkbox" name="day" value="Tuesday" {{#if waiterDay.Tuesday}} checked {{/if}}>Tuesday

</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Wednesday" {{#if waiterDay.Wednesday}} checked {{/if}}>Wednesday

</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Thursday" {{#if waiterDay.Thursday}} checked {{/if}}>Thursday

</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Friday" {{#if waiterDay.Friday}} checked {{/if}}>Friday

</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Saturday" {{#if waiterDay.Saturday}} checked {{/if}}>Saturday

</label>
<label class="btn btn-outline-info">
  <input type="checkbox" name="day" value="Sunday" {{#if waiterDay.Sunday}} checked {{/if}}>Sunday

</label>
<input type="submit" class="btn btn-success" name="butt" value="Submit"> </span>
    </label>
  </form>
  <br>
  <h3>{{Data}}</h3><br>

  <ul class="list-group">
    {{#each WaiteData}}
      {{waiter_name}}
      <li class="list-group-item list-group-item-primary">{{this}}</li>
    {{/each}}
  </ul>

  <h3>{{messages.error}}</h3>
</div>
